flows.json
[
    {
        "id": "1928189f991c8c20",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a71ec82f7a97a7a9",
        "type": "mqtt in",
        "z": "1928189f991c8c20",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "a8a9be1eb390f18c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "330c08ed90ac63d4"
            ]
        ]
    },
    {
        "id": "330c08ed90ac63d4",
        "type": "switch",
        "z": "1928189f991c8c20",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/acc",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/fall",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/x",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/y",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/z",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/coord",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/Fall Alert!!",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "da86ed514f381602",
                "7ae2952d8c1ca6a1"
            ],
            [
                "989713b8071bb4b6"
            ],
            [
                "9d36265e291a6214",
                "63ca099090586dab"
            ],
            [
                "a9941ef4f302cda1",
                "b7e3dc53d559f357"
            ],
            [
                "c71cd69248813168",
                "9a95624e4e2f2009"
            ],
            [
                "89a2bd01dd2c7f97",
                "7dbc6ed2d929a6ce",
                "b6061007b193939e",
                "da02e9c745760728",
                "e86cfaaa8b5e0565"
            ],
            [
                "5539a6106b9a5645",
                "ddbba3ee2c95dfd8"
            ]
        ]
    },
    {
        "id": "989713b8071bb4b6",
        "type": "ui_text",
        "z": "1928189f991c8c20",
        "group": "a49ec149f10cca96",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Falls:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "experiment",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "da86ed514f381602",
        "type": "ui_gauge",
        "z": "1928189f991c8c20",
        "name": "",
        "group": "7bcd7209c74e1ac9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Acceleration",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "9d36265e291a6214",
        "type": "ui_gauge",
        "z": "1928189f991c8c20",
        "name": "",
        "group": "7bcd7209c74e1ac9",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "a9941ef4f302cda1",
        "type": "ui_gauge",
        "z": "1928189f991c8c20",
        "name": "",
        "group": "7bcd7209c74e1ac9",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "c71cd69248813168",
        "type": "ui_gauge",
        "z": "1928189f991c8c20",
        "name": "",
        "group": "7bcd7209c74e1ac9",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "720c54a063aea02b",
        "type": "ui_text",
        "z": "1928189f991c8c20",
        "group": "e5f797ff866fe5ed",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Latitude:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "experiment",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "893c124c443274bd",
        "type": "ui_text",
        "z": "1928189f991c8c20",
        "group": "12bc3c0da47658d6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SpO2",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "experiment",
        "x": 550,
        "y": 880,
        "wires": []
    },
    {
        "id": "ff003ef916a3c9cd",
        "type": "sqlite",
        "z": "1928189f991c8c20",
        "mydb": "1b91c6f113f15029",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "DB_HealthRemoteMonitorSystem",
        "x": 1080,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "04e479bc6c371682",
        "type": "inject",
        "z": "1928189f991c8c20",
        "name": "CREATE TABLES BPM",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE BPM ( TIMESTAMP TEXT PRIMARY KEY NOT NULL, BPM TEXT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 1400,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "c8160695937fec65",
        "type": "inject",
        "z": "1928189f991c8c20",
        "name": "CREATE TABLES SPO2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE SPO2 ( TIMESTAMP TEXT PRIMARY KEY NOT NULL, SPO2 TEXT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 1460,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "438c1ba66de04e7f",
        "type": "inject",
        "z": "1928189f991c8c20",
        "name": "CREATE TABLES LOCATION",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE LOCATIONALL ( TIMESTAMP timestamp PRIMARY KEY NOT NULL, LAT TEXT NOT NULL, LON TEXT NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "x": 920,
        "y": 1340,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "89a2bd01dd2c7f97",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Insert Location",
        "func": "// @ts-ignore\nmsg1 = {};\n// @ts-ignore\nmsg2 = {};\n\nvar array = msg.payload.split(','),\n    a = array[0], b = array[1];\n\n\nmsg1.payload = a;\nmsg2.payload = b;\n\nmsg.topic = `INSERT INTO LOCATION (\"TIMESTAMP\", LAT, LON) VALUES (CURRENT_TIMESTAMP, ${msg1.payload}, ${msg2.payload});`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 400,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "7dbc6ed2d929a6ce",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Insert LocationAll",
        "func": "// @ts-ignore\nmsg1 = {};\n// @ts-ignore\nmsg2 = {};\n\nvar array = msg.payload.split(','),\n    a = array[0], b = array[1];\n\n\nmsg1.payload = a;\nmsg2.payload = b;\n\nmsg.topic = `INSERT INTO LOCATIONALL (\"TIMESTAMP\", LAT, LON) VALUES (CURRENT_TIMESTAMP, ${msg1.payload}, ${msg2.payload});`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 440,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "b6061007b193939e",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Delete from Location (Longer than 5 min)",
        "func": "\nmsg.topic = `DELETE FROM LOCATION WHERE \"TIMESTAMP\" <= datetime('now', '-65 minutes', 'localtime');`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 480,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "8994d15ed4da8003",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Delete from BPM (Longer than 2 min)",
        "func": "msg.topic = `DELETE FROM BPM WHERE \"TIMESTAMP\" <= datetime('now', '-62 minutes', 'localtime');`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1140,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "5319c7f5d21c4681",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Delete from SPO2 (Longer than 2 min)",
        "func": "msg.topic = `DELETE FROM SPO2 WHERE \"TIMESTAMP\" <= datetime('now', '-62 minutes', 'localtime');`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "c0633161ecbe06b1",
        "type": "aedes broker",
        "z": "1928189f991c8c20",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 210,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4c5b897b6694fb4b",
        "type": "serial in",
        "z": "1928189f991c8c20",
        "name": "ONYX 9560",
        "serial": "7d847b04cf937f04",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "873a4f1895adce32",
                "e6316bd4beb641d8",
                "e9aaf6a6b88db2d8",
                "657daf5ccf975c98",
                "2f5204c17a26cdcb",
                "b219bba6b175fe0c",
                "8994d15ed4da8003",
                "5319c7f5d21c4681",
                "d606883f98b52bbf"
            ]
        ]
    },
    {
        "id": "873a4f1895adce32",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Insert BPM",
        "func": "// @ts-ignore\nmsg1 = {};\n\nmsg1.payload = msg.payload[1];\n\n\n\nmsg.topic = `INSERT INTO BPM (\"TIMESTAMP\", BPM) VALUES (CURRENT_TIMESTAMP, '${msg1.payload}');`;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 920,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "e6316bd4beb641d8",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Insert SPO2",
        "func": "// @ts-ignore\nmsg2 = {};\n\nmsg2.payload = msg.payload[2];\n\nmsg.topic = `INSERT INTO SPO2 (\"TIMESTAMP\", SPO2) VALUES (CURRENT_TIMESTAMP, '${msg2.payload}');`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 980,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "657daf5ccf975c98",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Insert SPO2ALL",
        "func": "// @ts-ignore\nmsg2 = {};\n\nmsg2.payload = msg.payload[2];\n\nmsg.topic = `INSERT INTO SPO2ALL (\"TIMESTAMP\", SPO2) VALUES (CURRENT_TIMESTAMP, '${msg2.payload}');`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1100,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "e9aaf6a6b88db2d8",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Insert BPMALL",
        "func": "// @ts-ignore\nmsg1 = {};\n\nmsg1.payload = msg.payload[1];\n\n\n\nmsg.topic = `INSERT INTO BPMALL (\"TIMESTAMP\", BPM) VALUES (CURRENT_TIMESTAMP, '${msg1.payload}');`;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "2f5204c17a26cdcb",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "BPMDashBoard",
        "func": "// @ts-ignore\nmsg1 = {};\n\nmsg1.payload = msg.payload[1];\nmsg1.topic = \"X\";\n\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 740,
        "wires": [
            [
                "5c6f3d0df231e8b4",
                "6908834d87a28d1d",
                "355433f819a9e4ac"
            ]
        ]
    },
    {
        "id": "b219bba6b175fe0c",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "SPO2DashBoard",
        "func": "// @ts-ignore\nmsg2 = {};\n\nmsg2.payload = msg.payload[2];\nmsg2.topic = \"X\";\n\nreturn msg2;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 780,
        "wires": [
            [
                "893c124c443274bd",
                "2ce41ef959dfe198",
                "1d952fe5fe99765a"
            ]
        ]
    },
    {
        "id": "5c6f3d0df231e8b4",
        "type": "ui_text",
        "z": "1928189f991c8c20",
        "group": "12bc3c0da47658d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BpM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "experiment",
        "x": 550,
        "y": 700,
        "wires": []
    },
    {
        "id": "6908834d87a28d1d",
        "type": "mqtt out",
        "z": "1928189f991c8c20",
        "name": "",
        "topic": "/BpM",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a8a9be1eb390f18c",
        "x": 550,
        "y": 640,
        "wires": []
    },
    {
        "id": "2ce41ef959dfe198",
        "type": "mqtt out",
        "z": "1928189f991c8c20",
        "name": "",
        "topic": "/SpO2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a8a9be1eb390f18c",
        "x": 550,
        "y": 820,
        "wires": []
    },
    {
        "id": "5539a6106b9a5645",
        "type": "e-mail",
        "z": "1928189f991c8c20",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "secure": false,
        "tls": true,
        "name": "rafiti.slb1999@gmail.com",
        "dname": "",
        "x": 710,
        "y": 20,
        "wires": []
    },
    {
        "id": "355433f819a9e4ac",
        "type": "ui_chart",
        "z": "1928189f991c8c20",
        "name": "",
        "group": "12bc3c0da47658d6",
        "order": 2,
        "width": 7,
        "height": 7,
        "label": "BpM Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "35",
        "ymax": "",
        "removeOlder": "40",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1d952fe5fe99765a",
        "type": "ui_chart",
        "z": "1928189f991c8c20",
        "name": "",
        "group": "12bc3c0da47658d6",
        "order": 5,
        "width": 7,
        "height": 7,
        "label": "SpO2 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "100",
        "removeOlder": "40",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "da02e9c745760728",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Latitude",
        "func": "// @ts-ignore\nmsg1 = {};\n\n\nvar array = msg.payload.split(','),\n    a = array[0];\n\n\nmsg1.payload = a;\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 300,
        "wires": [
            [
                "720c54a063aea02b"
            ]
        ]
    },
    {
        "id": "e86cfaaa8b5e0565",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Longitude",
        "func": "// @ts-ignore\nmsg1 = {};\n\n\nvar array = msg.payload.split(','),\n    b = array[1];\n\n\nmsg1.payload = b;\nreturn msg1;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 340,
        "wires": [
            [
                "6538755195933420"
            ]
        ]
    },
    {
        "id": "6538755195933420",
        "type": "ui_text",
        "z": "1928189f991c8c20",
        "group": "e5f797ff866fe5ed",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Longitude:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "experiment",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "ddbba3ee2c95dfd8",
        "type": "function",
        "z": "1928189f991c8c20",
        "name": "Insert Falls",
        "func": "// @ts-ignore\n\nmsg.topic = `INSERT INTO FALLS (\"TIMESTAMP\") VALUES (CURRENT_TIMESTAMP);`;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 20,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "5bb0bc80a44c2b97",
        "type": "inject",
        "z": "1928189f991c8c20",
        "name": "CREATE TABLE FALLS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 940,
        "y": 1280,
        "wires": [
            [
                "ff003ef916a3c9cd"
            ]
        ]
    },
    {
        "id": "7ae2952d8c1ca6a1",
        "type": "ui_artlessgauge",
        "z": "1928189f991c8c20",
        "d": true,
        "group": "7bcd7209c74e1ac9",
        "order": 12,
        "width": 4,
        "height": 4,
        "name": "Acceleration",
        "icon": "fa-grav",
        "label": "Acceleration",
        "unit": "g",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#ba1c1c",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#02b620",
                "t": "min",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#ebda24",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 99,
                "col": "#d10000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#d10000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "11",
        "bgcolorFromTheme": true,
        "diffCenter": "50",
        "x": 1250,
        "y": 100,
        "wires": []
    },
    {
        "id": "1c9e5772b4c6a42c",
        "type": "ui_template",
        "z": "1928189f991c8c20",
        "group": "a49ec149f10cca96",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-text.experiment {\n        background-color: Blue;\n    }\n    .nr-dashboard-text.wibble p.label{\n        font-size: 0.8em;\n    }\n    .nr-dashboard-text.wibble p.value{\n        font-size: 1.8em;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 260,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b7e3dc53d559f357",
        "type": "ui_artlessgauge",
        "z": "1928189f991c8c20",
        "d": true,
        "group": "7bcd7209c74e1ac9",
        "order": 14,
        "width": 4,
        "height": 4,
        "name": "Gravity Y-axis",
        "icon": "fa-grav",
        "label": "Gravity Y-axis",
        "unit": "g",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#ba1c1c",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#02b620",
                "t": "min",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#ebda24",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 99,
                "col": "#d10000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#d10000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "11",
        "bgcolorFromTheme": true,
        "diffCenter": "50",
        "x": 1420,
        "y": 200,
        "wires": []
    },
    {
        "id": "63ca099090586dab",
        "type": "ui_artlessgauge",
        "z": "1928189f991c8c20",
        "d": true,
        "group": "7bcd7209c74e1ac9",
        "order": 13,
        "width": 4,
        "height": 4,
        "name": "Gravity X-axis",
        "icon": "fa-grav",
        "label": "Gravity X-axis",
        "unit": "g",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#ba1c1c",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#00eb27",
                "t": "min",
                "dot": 0
            },
            {
                "val": 25,
                "col": "#3e8604",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#ebda24",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 75,
                "col": "#ce2c2c",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#ce2c2c",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "11",
        "bgcolorFromTheme": true,
        "diffCenter": "50",
        "x": 1420,
        "y": 160,
        "wires": []
    },
    {
        "id": "9a95624e4e2f2009",
        "type": "ui_artlessgauge",
        "z": "1928189f991c8c20",
        "d": true,
        "group": "7bcd7209c74e1ac9",
        "order": 15,
        "width": 4,
        "height": 4,
        "name": "Gravity Z-axis",
        "icon": "fa-grav",
        "label": "Gravity Z-axis",
        "unit": "g",
        "layout": "radial",
        "decimals": 0,
        "differential": false,
        "minmax": true,
        "colorTrack": "#ba1c1c",
        "style": "",
        "colorFromTheme": true,
        "property": "payload",
        "secondary": "secondary",
        "inline": false,
        "animate": true,
        "sectors": [
            {
                "val": 0,
                "col": "#02b620",
                "t": "min",
                "dot": 0
            },
            {
                "val": 50,
                "col": "#ebda24",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 99,
                "col": "#d10000",
                "t": "sec",
                "dot": 0
            },
            {
                "val": 100,
                "col": "#d10000",
                "t": "max",
                "dot": 0
            }
        ],
        "lineWidth": "11",
        "bgcolorFromTheme": true,
        "diffCenter": "50",
        "x": 1420,
        "y": 240,
        "wires": []
    },
    {
        "id": "d606883f98b52bbf",
        "type": "debug",
        "z": "1928189f991c8c20",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 580,
        "wires": []
    },
    {
        "id": "761d88c5981e996a",
        "type": "ui_spacer",
        "z": "1928189f991c8c20",
        "name": "spacer",
        "group": "7bcd7209c74e1ac9",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "2f9f750eed872f45",
        "type": "ui_spacer",
        "z": "1928189f991c8c20",
        "name": "spacer",
        "group": "7bcd7209c74e1ac9",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "a9f78cfcd4e51838",
        "type": "ui_spacer",
        "z": "1928189f991c8c20",
        "name": "spacer",
        "group": "7bcd7209c74e1ac9",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "e2b45b7584b3bd3a",
        "type": "ui_spacer",
        "z": "1928189f991c8c20",
        "name": "spacer",
        "group": "7bcd7209c74e1ac9",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "ebb850d8bbe4a312",
        "type": "ui_spacer",
        "z": "1928189f991c8c20",
        "name": "spacer",
        "group": "7bcd7209c74e1ac9",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "99ea25262433a0f2",
        "type": "ui_spacer",
        "z": "1928189f991c8c20",
        "name": "spacer",
        "group": "7bcd7209c74e1ac9",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "affff6be3d590417",
        "type": "ui_spacer",
        "z": "1928189f991c8c20",
        "name": "spacer",
        "group": "7bcd7209c74e1ac9",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "d0b052028c8acf0b",
        "type": "ui_spacer",
        "z": "1928189f991c8c20",
        "name": "spacer",
        "group": "12bc3c0da47658d6",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "a8a9be1eb390f18c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a49ec149f10cca96",
        "type": "ui_group",
        "name": "Falls",
        "tab": "983ef13135e35ce3",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bcd7209c74e1ac9",
        "type": "ui_group",
        "name": "Measurements",
        "tab": "983ef13135e35ce3",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e5f797ff866fe5ed",
        "type": "ui_group",
        "name": "GPS Coordinates",
        "tab": "983ef13135e35ce3",
        "order": 4,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "12bc3c0da47658d6",
        "type": "ui_group",
        "name": "Cardiac Monitoring",
        "tab": "983ef13135e35ce3",
        "order": 5,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b91c6f113f15029",
        "type": "sqlitedb",
        "db": "C:\\Users\\nb28445\\Documents\\DB_HealthRemoteMonitorSystem.db",
        "mode": "RWC"
    },
    {
        "id": "7d847b04cf937f04",
        "type": "serial-port",
        "serialport": "COM6",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "bin",
        "out": "time",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "983ef13135e35ce3",
        "type": "ui_tab",
        "name": "Remote Health Monitoring - Dashboard",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]